# database connection
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# application
ROBOTS_TXT_CACHE_SECONDS=86400 # 24 hours

# gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.5-flash